*{
    margin: 0;
    padding: 10;
}
body{
    background-color: rgb(224, 155, 29);
    cursor:url('../images/vintage-cursor.png'), auto;

}
.container{
    margin-top: 20px;
    margin-inline-start: 10px;
}
.container p{
    display: block;
    font-family: 'windows', sans-serif;
}
.container input{
    cursor:url('../images/pointer.png'), auto;
}

.nav-shortcut img{
    vertical-align: middle;
    margin-right: -20px;
}
nav {
    width: 100%;
    background-color: grey;
    bottom: 0;
    position: fixed;
}
nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: inline-block;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
    cursor:url('../images/pointer.png'), auto;
}
nav ul li ul {
    display: none;
    position: inherit;
    background-color: grey;
    padding: 0px;
    border-radius: 4px 4px 4px 4px;
}

nav ul li ul a{
   padding: -18px -14px;
   border-radius: 1px;
   cursor:url('../images/pointer.png'), auto;
}

nav ul li:hover ul{
    display: block;
}
nav ul li ul a:hover{
    background-color: lightgray;
 }